/* src/components/modal/LoadingModal.css */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes rolling {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #DAA520; /* Dark Yellow color */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: rolling 1s linear infinite;
}

.fade-in {
  animation: fadeIn 0.5s forwards; /* Fade in effect for letters */
}

.invisible {
  visibility: hidden; /* Hide letters that are not yet visible */
}

.text-darkYellow {
  color: #DAA520; /* Dark Yellow color */
}

.text-white {
  color: white; /* White color */
}